
<style>

    /* Custom CSS for About Me Section */
    .about {
        color: white;
        padding: 60px 0;
    }

        .about h1 {
            text-align: center;
            font-size: 36px;
        }

        .about .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .about .column {
            flex: 1;
            padding: 20px;
        }

        .about img {
            width: 100%;
            max-height: 100%;
            object-fit: cover;
        }

        .about .paragrap {
            padding: 10px;
        }

            .about .paragrap h3 {
                font-size: 30px;
            }

            .about .paragrap i {
                margin: 10px;
            }
</style>

<main aria-labelledby="title">
    <section class="about mb-2" id="ako">
        <div class="container">
            <h1>About Me</h1>
            <div class="row">
                <div class="col-md-5">
                    <img src="~/Content/Stock/aboutpic.jpg" />
                </div>
                <div class="col-md-7">
                    <div class="paragrap">
                        <h3><i class="fa fa-user fa-1x" aria-hidden="true"></i> HI! I'm Jhorie</h3>
                        <p>
                            When I was a young boy, I loved playing video games, and I came up with the idea that I wanted to create my own game, which is why I chose to be an IT student. I started learning programming when I was 17 years old, and the first programming language that I learned was C++. Whenever there's a practical test where we have to find out how to code the given program, I occasionally get the right code, so I always watch programming tutorials on YouTube.
                            <br>Sometimes in my free time, I watch vlogs about programmers and how they got started. The person who has most intrigued and inspired me is the developer of Concerned Apes. He created Stardew Valley, which is a great game. I was surprised that he spent almost 12 years of his life creating it on his own, and that's when I realized time is the crucial investment for developers, and now I'm still learning and taking my time to be a great developer.
                            you actually read this? hahaha
                        </p>
                    </div>
                    <div class="row">
                        <div class="content col-md-6">
                            <div class="text">
                                <h3><i class="fa fa-paint-brush fa-1x" aria-hidden="true"></i> Hobbies</h3>
                                <p>My hobbies include playing guitar, playing video games, watching programming videos on YouTube, and coding. If you've read this far, it means you're curious about me, hmm?</p>
                            </div>
                        </div>
                        <div class="content col-md-6">
                            <div class="text">
                                <h3><i class="fa fa-star fa-1x" aria-hidden="true"></i> Favorite</h3>
                                <p>My favorites include chocolate for a snack, Sinigang for a dish, Fireship for a YouTuber, and blue for a color. You actually got this far? Thank you then, hehe.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section id="education">
        <h2>Education</h2>
        <div class="education-entry">
            <h3>Quezon City University</h3>
            <p>
                Bachelor of Science in Information Technology (BSIT)
                <br>
                Currently pursuing my degree, focusing on software development, network management, and cybersecurity.
            </p>
        </div>
    </section>

    <section id="skills">
        <h2>Skills</h2>
        <ul>
            <li>Programming Languages: Java, Python, C#</li>
            <li>Web Development: HTML, CSS, JavaScript, ASP</li>
            <li>Database Management: SQL</li>
        </ul>
    </section>
</main>