@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="row min-vh-100 align-items-center">
        <div class="row">
            <div class="col">
            <h1 class="h1">Hello, I'm Quiling, Jhon Jhorie</h1>
            <p>Web Developer | Designer | Creator</p></div>
            <div class="col"></div>
        </div>
    </div>

</main>