

@font-face {
    font-family: 'spacemono-bold';
    src: url('stock/space_mono/spacemono-bold.ttf') format('truetype');
}
@font-face {
    font-family: 'spacemono-regular';
    src: url('stock/space_mono/spacemono-regular.ttf') format('truetype');
}
